/**********GENERAL**********/
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

body {
    height: 100%;
}

:root {
    /* Dark Theme Colors */
    --primary-dark: #152c46; /* Dark Blue */
    --secondary-dark: #FF6B6B; /* Dark Red */
    --background-dark: #1D1D1D; /* Dark Gray */
    --text-dark: #FFFFFF; /* White */
    --accent-dark: #51CF66; /* Dark Green */
    --neon-color: #00dfc4;

    /* Common Colors */
    --link-color: var(--primary-dark);
    --neutral-color: #B8B8B8; /* Light Gray */
    --cta-color: #FFD166; /* Yellow */
}

main {
    position: relative;
    margin-top: 3.5rem;
    width: 100%;
    z-index: 998;
}
 
.main-section {
    display: flex;
    padding: 0 10% 0 10%;
    height: 100vh;
    background-color: var(--background-dark);
    color: var(--text-dark);
    width: 80%;
}

.main-section:nth-child(odd) {
    background-color: var(--primary-dark);
    color: var(--text-dark);
}
.social-icons {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(109,125,153,0.45);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: .5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 20rem;
    right: 0;
    top: 38%;
}

.social-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
    height: 2rem;
    width: 2rem;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

/* https://uiverse.io/PriyanshuGupta28/massive-ape-73 */
.link-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .link-wrapper a {
    height: 24px;
    width: 24px;
    position: absolute;
    z-index: 2;
  }
  
  .link-wrapper .stroke-1 {
    position: absolute;
    z-index: 1;
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }

  .link-wrapper .stroke-2 {
    position: absolute;
    z-index: 1;
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: -100;
    stroke-dasharray: 100;
    transform: scaleX(-1);
    transform-origin: center;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .link-wrapper a:hover + svg .stroke-1 {
    position: absolute;
    z-index: 1;
    stroke-dashoffset: 2.9;
    stroke-dasharray: 50;
  }

  .link-wrapper a:hover + svg .stroke-2 {
    position: absolute;
    z-index: 1;
    stroke-dashoffset: -47;
    stroke-dasharray: 50;
  }

/**********HOME SECTION**********/

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 55%;
    width: 45%;
    height: 100%;
}

.home-content .p1 {
    line-height: 1;
    font-size: 3rem;
}

.home-content .p1 b{
    color: var(--cta-color);
    font-size: 5rem;
}

.home-content .p2 {
    font-weight: bolder;
    font-size: 2rem;
    margin: 3% 0 3% 0;
}

.home-content .p2 b{
    color: var(--cta-color);
}

.home-content .p3 {
    width: 100%;
    font-size: 1.5rem;
}
.svg-container {
    position: absolute;
    margin-right: 10%;
    left: 10%;
    height: 20%;
    width: 40%;
}

.svg-container embed {
    height: 100%;
    width: 100%;
}

.svg-container:hover .attribution {
    display: block;
    opacity: 1;
    transform: translateX(0%) scale(1);
}

.attribution {
    opacity: 0;
    position: absolute;
    text-align: center;
    background-color: var(--primary-dark);
    border-radius: 1rem;
    padding: 1rem;
    top: 40%;
    left: 9rem;
    width: 10rem;
    transform: translateX(0%) scale(0);
    transition: all .3s ;
}

.attribution a {
    color: var(--cta-color);
    text-decoration: none;
}

/**********ABOUT-ME SECTION **********/



.skills-margin {
  margin: 2rem 0;
}

.skillsContainer {
  position: absolute;
  left: 0;
  top: 26.7%;
  width: 50rem;
  height: 20%;
  transform: translateX(-95%);
  transition: all .3s ease-in-out;
  z-index: 1;
}

.skills {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  background: rgba(109,125,153,0.45);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: var(--text-dark);
  z-index: 1;
  transition: left .5s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
}

.skills-button {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  top: 45%;
  right: 0;
  height: 10%;
  width: 5%;
  border: none;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: rgba(109,125,153,0.45);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  color: var(--text-dark);
}

.skills-button svg {
  width: 1rem;
  transition: transform 0.5s ease-in-out;
}

.show-skills {
  transform: translateX(0);
}

.skills section {
  display: flex;
  align-content: center;
  justify-content: center;
}
.timeline-section p{
  margin: 0 1rem 0 1rem;
  position: absolute;
  color: var(--cta-color);
  font-size: 1.5rem;
  right: 57%;
}

.timeline-section p:nth-child(2){
  left: 57%;
}

.timeline-items{
  width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

/*https://www.youtube.com/watch?v=L9W33EuGjoY*/

.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: var(--text-dark);
	left: calc(50% - 1px);
  z-index: 3;
}
.timeline-item{
	width: 100%;
	position: relative;
}
.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: var(--cta-color);
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:50px;
  z-index: 4;
}
.timeline-date{
  position: relative;
  top: 45px;
	font-size: 1.2rem;
	color: var(--cta-color);
	margin:6px 0 15px;
}

.timeline-item:nth-child(even) .timeline-date {
  right: 9.5rem;
}

.timeline-item:nth-child(odd) .timeline-date {
  left: 9.5rem;
}


.timeline-content{
	padding: 0rem 3rem 2rem 3rem;
	border-radius: 1rem;
}

.timeline-content p{
  color: var(--text-dark);
	font-size: .9rem;
	font-weight: 300;
	line-height: 22px;
}

.experience-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 80%;
  border-top: 2px solid var(--text-dark);
  border-bottom: 2px solid var(--text-dark);
  z-index: 4;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.column-left {
  text-align: right;
  padding: 0 10% 0 0;
}

.column-right {
  text-align: left;
  padding: 0 0 0 10%;
}

table:last-child {
  margin-bottom: 2rem;
}

table, tr ,th, td {
  font-size: 0.9rem;
}

td img {
  height: 40%;
  width: 40%;
}
.title {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
  color: var(--cta-color);
}

.job {
  text-align: center;
  font-size: 1.17rem;
  padding: 1rem;
}

.pl-icons img{
  display: block;
  margin: 1rem auto;
  transition: all .1s ease-in-out;
}

.pl-icons img:hover {
  transform: scale(1.2);
}

.attribution-pl {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
}

.attribution-pl a {
  color: var(--text-dark);
  text-decoration: none;
}

td:hover .attribution-pl {
  display: block;
}

@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}
.about-me-content {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    position: relative;
    height: 70%;
    width: 90%;
    left: 1%;
    margin: auto;
}

.my-img {
    left: 0;
    height: 100%;
    width: 30%;
}

.my-img img {
    width: 100%;
    border: 1rem solid var(--text-dark);
    border-bottom: 3rem solid var(--text-dark);
    object-fit: cover;
}
.about-description {
    position: absolute;
    width: 70%;
    height: 100%;
    position: relative;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-description h2 {
    position: relative;
    left: 8%;
    width: 90%;
    font-size: 5rem;
    color: var(--cta-color);
}

.about-description p {
    position: relative;
    left: 8%;
    width: 90%;
    font-size: 1.1rem;
    text-align: justify;
}

/*************PROJECTS*************/

.projects-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next {
  color: var(--cta-color);
  position: relative;
  right: 0;
}

.swiper-pagination-bullet {
  background-color: var(--cta-color);
}

.swiper-button-prev {
  position: relative;
  color: var(--cta-color);
  left: 0;
}

.empty-card {
  background-color: var(--neutral-color);
  position: relative;
  border-radius: 5%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
  height: 100%;
  backface-visibility: hidden;
  background-position: center center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.empty-card .front-content {
  display: flex;
  align-content: center;
  justify-content: center;
}

.empty-card .front-content svg {
  width: 50%;
}

.wrapper, .empty-wrapper {
  height: 60%;
  width: 90%;
}

.single-card {
  height: 100%;
}

.wrapper {
  perspective: 56.25rem;
}

.single-card {
  text-align: center;
  transition: all 1.5s cubic-bezier(0.7, -.5, 0.3, 1.8);
  transform-style: preserve-3d;
}

.wrapper:hover .single-card{
  transform: rotateY(180deg);
}

.front-card, .back-card {
  position: relative;
  border-radius: 5%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
}
.front-card {
  cursor: pointer;
  height: 100%;
  backface-visibility: hidden;
  background-position: center center;
}

.front-card .front-content, .back-card .back-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.front-card .front-content img {
  width: 50%;
}

.back-card {
  transform: rotateY(180deg);
  position: absolute;
  height: 100%;
}

.back-card .back-content {
  height: 100%;
  width: 100%;
}

.back-card .back-content .top {
  position: absolute;
  padding: 7% 7% 0 7%;
  overflow: hidden;
  justify-content: center;
  height: 17%;
  width: 87%;

}

.back-card .back-content .top img {
  width: 100%;
}

.back-card .back-content .content {
  margin-top: 10%;
  padding: 0 7%;
}

.back-card .back-content .content p {
  font-size: 1.2rem;

  text-align: justify;
}
.back-card .back-content .button-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.back-card .back-content .button-container .card-button {
  position: absolute;
  bottom: 4%;
  padding: 10px 20px;
  border-radius: .5rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.back-card .back-content .card-button a {
  text-decoration: none;
  color: var(--text-dark);
}
.back-card .back-content .card-button:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.2);
}

/***********PROJECT SPECIFICS*************/
.proj1.front-card, .proj1.back-card {
  background-color: #537C84;
}
.proj1.card-button {
  background-color: #3bada8;
}

.proj2.front-card, .proj2.back-card {
  background-color: var(--text-dark);
  color: var(--background-dark);
}
.proj2.card-button {
  background-color: #fe0037;
  color: var(--text-dark);
}

.proj2.front-content img {
  width: 70%;
}

/*************CONTACT**************/

#contacts {
  display: flex;
  justify-content: center;
}

.contacts-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* https://www.youtube.com/watch?v=BMphVl9suxA */

.form-container {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  background: #1d2b3a;
  border-radius: 1rem;
}

.attribution {
  opacity: 0;
  position: absolute;
  color: #fff;
  padding: 5px;
  top: 15rem;
  left: 9rem;
  width: 10rem;
  transform: translateX(0%);
  transition: .5s all;
}

.attribution a {
  color: #00dfc4;

}
.image-container:hover .attribution {
  display: block;
  opacity: 1;
  transform: translateX(150%);
}

.image-container img {
  padding-top: 3rem;
  width: 25rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1d2b3a;
  border-radius: 1rem;
  gap: 1rem;
  padding: 1rem;
  height: 30rem;
  width: 25rem;

}

.inputBox {
  position: relative;
  width: 20rem;
}

.inputBox input, textarea {
  height: 1.5rem;
  width: 100%;
  padding: .5rem;
  border: 1px solid #ccc;
  background: #1d2b3a;
  border-radius: .5rem;
  outline: none;
  color:  var(--text-dark);
  font-size: 1rem;
  transition: 0.5s;
}

.inputBox textarea {
  height: 10rem;
}

.inputBox .input-span {
  position: absolute;
  top: 0;        
  padding: .5rem 0 0 1rem;
  pointer-events: none;
  color:  var(--text-dark);
  text-transform: uppercase;
  transition: .2s;
}

.inputBox input:valid ~ .input-span,
.inputBox input:focus ~ .input-span,
.inputBox textarea:valid ~ .input-span,
.inputBox textarea:focus ~ .input-span {
  color:  #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.75rem;
  padding: 0 10px;
  background: #1d2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: .1rem;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox textarea:valid,
.inputBox textarea:focus {
  border: 1px solid #00dfc4;
}

.invalidEmail {
  position: absolute;
  top: 0;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.75rem;
  padding: 0 10px;
  text-transform: uppercase;
  background: #1d2b3a;
  color: var(--text-dark);
  border-left: 1px solid var(--text-dark);
  border-right: 1px solid var(--text-dark);
  letter-spacing: .1rem;
  transition: .5s all;
}

.contact-button button {
  background-color: #9e9e9e;
  font-family: 'Poppins';
  color: var(--text-dark);
  height: 2rem;
  width: 10rem;
  border: #ccc;
  border-radius: .5rem;
}

.contact-button .send-mail-btn {
  background-color: var(--color-5);
  font-family: 'Poppins';
  color: var(--color-1);
  height: 2rem;
  width: 10rem;
  border: #ccc;
  border-radius: .5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-button .send-mail-btn:hover {
  background-color: #00dfc4;
  color: var(--text-dark);
  transform: scale(1.1);
  transition: all .1s;
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
}


/**********MEDIA QUERIES**********/

@media screen and (max-width: 800px) {

    section {
        height: 100vh;
    }

    .social-icons {
        display: none;
    }

    .home-content {
        margin-left: 0%;
        padding-top: 10%;
        width: 100%;
        height: auto;
    }
    
    .home-content .p1 {
        font-size: 3rem;
    }

    .home-content .p1 b{
        font-size: 3.5rem;
    }
    
    .home-content .p2 {
        font-size: 1.1rem;
    }
    
    .home-content .p2 b{
        color: var(--cta-color);
    }
    
    .home-content .p3 {
        margin-top: 1%;
        width: 100%;
        font-size: 1rem;
    }
    .svg-container {
        position: relative;
        margin-right: 0%;
        top: 0;
        left: 0%;
        height: 40%;
        width: 100%;
    }
    .svg-container:hover .attribution {
        display: block;
        opacity: 1;
        transform: translateY(300%) scale(1);
    }
}