nav, header {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    height: 2.5rem;
    background-color: var(--primary-dark);
    z-index: 999;
    padding: .5rem 0 .5rem 0;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px
}

.navbar-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
nav ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav .hideOnMobile {
    margin: 0 1rem;
    height: 100%;
    list-style: none;
    transition: border-top 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

nav ul li a {
    width: 10rem;
    font-size: 1.3rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--text-dark);
    outline: none;
    border: none;
    position: relative;
    background: none;
    cursor: pointer;

}

/* https://uiverse.io/Dashrath-Sharma/wet-zebra-95 */
 
.active {
    color: var(--cta-color);
  }
  
  .nav-buttons span {
    position: absolute;
    background: var(--cta-color);
    transition: .5s;
  }

  .nav-buttons.active span:nth-child(1),.nav-buttons.active span:nth-child(3){
    width: 2px;
    height: 100%;
  }

  .nav-buttons.active span:nth-child(2),.nav-buttons.active span:nth-child(4){
    height: 2px;
    width: 100%;
  }
  
  .nav-buttons span:nth-child(1) {
    bottom: 0;
    left: 0;
    width: 1px;
    height: 0%;
  }
 
  .nav-buttons:hover span:nth-child(1) {
    height: 100%;
  }
  
  .nav-buttons span:nth-child(2) {
    top: 0;
    left: 0;
    width: 0%;
    height: 1px;
  }
  
  .nav-buttons:hover span:nth-child(2) {
    width: 100%;
  }
  
  .nav-buttons span:nth-child(3) {
    top: 0;
    right: 0;
    width: 1px;
    height: 0%;
  }
  
  .nav-buttons:hover span:nth-child(3) {
    height: 100%;
  }
  
  .nav-buttons span:nth-child(4) {
    bottom: 0;
    right: 0;
    width: 0%;
    height: 1px;
  }
  
  .nav-buttons:hover span:nth-child(4) {
    width: 100%;
  }
nav .logo-container {
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 0;
    z-index: 1000;
    transition: transform .4s ease-in-out;
}

nav .logo-container img {
    width: 100%;
    height: 100%;
    transition: transform .1s ease-in-out;
}

nav .logo-container img:hover {
    transform: scale(1.1);
    filter: drop-shadow(3px 3px 5px #7a7a7a);
}

nav li a img {
    width: 7rem;
    height: 7rem;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 15.625rem;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(.1rem);
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform .4s ease-in-out;
    z-index: 1001;
}

.sidebar li .sidebar-buttons {
    padding: 1rem 0;
}

.sidebar li .sidebar-buttons:hover {
    color: var(--cta-color);
}

.sidebar li .sidebar-buttons.active {
    color: var(--cta-color);
}

.show {
    transform: translateX(0%);
}

.hide {
    transform: translateX(-100%);
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    padding: 0;
    width: 100%;
}

/*BURGER ANIMATION*/

.menu-button {
    display: none;
    position: absolute;
    left: -4rem;
    top: .5rem;
}

#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .3s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: rgb(253, 255, 243);
    border-radius: 5px;
    transition-duration: .3s;
  }
  
  /* #checkbox:checked + .toggle .bars {
    margin-left: 13px;
  } */
  
  #checkbox:checked + .toggle #bar2 {
    transform: translateY(14px) rotate(60deg);
    margin-left: 0;
    transform-origin: right;
    transition-duration: .3s;
    z-index: 2;
  }
  
  #checkbox:checked + .toggle #bar1 {
    transform: translateY(28px) rotate(-60deg);
    transition-duration: .3s;
    transform-origin: left;
    z-index: 1;
  }
  
  #checkbox:checked + .toggle {
    transform: rotate(90deg);
  }
  /* #checkbox:checked + .toggle #bar3 {
    transform: rotate(90deg);
    transition-duration: .3s;
    transform-origin:right;
  } */
  

  @media (min-width: 801px) {
    .hideOnMobile {
        animation: fadeIn .5s ease-in-out;
    }
    .sidebar {
        transform: translateX(100%);
    }
    nav li {
        margin: 0;
    }
    nav .logo-container {
        transform: translateX(0%);
    }
}

@media (max-width: 800px) {
    .hideOnMobile {
        opacity: 0;
        visibility: hidden;
        animation: fadeOut .5s ease-in-out;
    }

    .menu-button {
        display: block;
        animation: slideIn 0.5s ease-in-out;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
    
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }

    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 60%;
    }
}