* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* border:  1px solid #00dfc4; */
}

*::-webkit-scrollbar{
  display: none;
}

:root {
  /* Dark Theme Colors */
  --primary-dark: #152c46; /* Dark Blue */
  --secondary-dark: #FF6B6B; /* Dark Red */
  --background-dark: #1D1D1D; /* Dark Gray */
  --text-dark: #FFFFFF; /* White */
  --neon-color: #00dfc4;

  /* Common Colors */
  --neutral-color: #B8B8B8; /* Light Gray */
  --neutral-text: #d3d3d3;
  --cta-color: #FFD166; /* Yellow */
}

html {
overflow-x: hidden;
scroll-behavior: smooth;
}
body {
  position: relative;
  height: 100%;
  width: 100%;
}

footer {
  background-color: #333; /* Background color for the footer */
  color: #fff; /* Text color */
  text-align: center;
  padding: 1rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 33.33%;
}

.attribution, .copyright, .resources {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 100;
}

.attribution a, .resources a {
  color: var(--cta-color);
  text-decoration: none;
}

.attribution a:hover, .resources a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: var(--text-dark);
}

@media screen and (max-width: 425px) {
  .footer-content {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}

.main-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: var(--primary-dark);
  color: var(--text-dark);
  min-height: 90vh;
  padding: 5vh 5%;
}

.main-section:nth-child(even) {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.social-icons {
position: fixed;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
justify-content: space-evenly;
background: rgba(109,125,153,0.45);
-webkit-backdrop-filter: blur(15px);
backdrop-filter: blur(15px);
padding: .5rem;
border-top-left-radius: 1rem;
border-bottom-left-radius: 1rem;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
height: 20rem;
right: 0;
top: 38%;
}

.social-icons a{
display: flex;
align-items: center;
justify-content: center;
padding: .2rem;
height: 2rem;
width: 2rem;
text-decoration: none;
transition: all 0.1s ease-in-out;
}

/* https://uiverse.io/PriyanshuGupta28/massive-ape-73 */
.link-wrapper {
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
}

.link-wrapper a {
height: 24px;
width: 24px;
position: absolute;
z-index: 2;
}

.link-wrapper .stroke-1 {
position: absolute;
z-index: 1;
fill: none;
stroke: #fff;
stroke-miterlimit: 10;
stroke-width: 2px;
stroke-dashoffset: 100;
stroke-dasharray: 100;
transition: ease all 0.6s;
-webkit-transition: ease all 0.6s;
}

.link-wrapper .stroke-2 {
position: absolute;
z-index: 1;
fill: none;
stroke: #fff;
stroke-miterlimit: 10;
stroke-width: 2px;
stroke-dashoffset: -100;
stroke-dasharray: 100;
transform: scaleX(-1);
transform-origin: center;
transition: ease all 0.6s;
-webkit-transition: ease all 0.6s;
}
.link-wrapper a:hover + svg .stroke-1 {
position: absolute;
z-index: 1;
stroke-dashoffset: 2.9;
stroke-dasharray: 50;
}

.link-wrapper a:hover + svg .stroke-2 {
position: absolute;
z-index: 1;
stroke-dashoffset: -47;
stroke-dasharray: 50;
}

.tooltip {
  position: absolute;
  left: -7.2rem;
  opacity: 0;
  color: white;
  padding: 5px 10px;
  border: 1px solid var(--text-dark);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

a:hover .tooltip {
  opacity: 1;
  transition-duration: .3s;
}

@media screen and (max-width: 768px) {
  .social-icons {
    display: none;
  }
}

/*****************HOME*****************/

.home-content {
display: flex;
flex-wrap: wrap;
flex-direction: row;
}

.home-left, .home-right {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 50%;
  min-height: 100%;
}

.home-right .p1 {
  width: 100%;
  line-height: 1;
  font-size: 3rem;
}

.home-right .p1 b{
  color: var(--cta-color);
  font-size: 5rem;
}

.home-right .p2 {
  width: 100%;
  font-weight: bolder;
  font-size: 2rem;
}

.home-right .p2 b{
  color: var(--cta-color);
}

.home-right .p3, .p4 {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 300;
}

.home-right .p4 {
  margin-top: 2rem;
}

.download-btn {
  margin-top: 1rem;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  padding: .5rem;
  text-transform: uppercase;
  font-size: .9rem;
  transition: all .15s ease;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(45% - 5px);
  border: 1px solid var(--neutral-color);
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: .4rem 1rem;
  color: #fff;
  background-color: transparent;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: transparent;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: transparent;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: var(--cta-color);
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.svg-container {
  height: 100%;
  width: 90%;
}

.svg-container embed {
  height: 100%;
  width: 100%;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@media  screen and (max-width: 1440px) {

  .home-right {
    width: 45%;
  }
  
  .home-right .p1 {
    line-height: 1;
    font-size: 2rem;
  } 

  .home-right .p1 b{
    font-size: 4rem;
  }

  .home-right .p2 {
    font-weight: bolder;
    font-size: 1.5rem;
  }

  .home-right .p3 {
    font-size: 1.3rem;
    text-align: justify;
  }

}

@media screen and (max-width: 768px) {

  .home-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }

  .home-left, .home-right {
    width: 90%;
  }

  .home-left {
    margin-top: 10%;
    height: 50%;
  }

  .home-right {
    width: 90%;
    height: 40%;
  }

  .home-right .p1 {
    line-height: 1;
    font-size: 1.5rem;
  } 

  .home-right .p1 b{
    font-size: 3rem;
  }

  .home-right .p2 {
    font-weight: bolder;
    font-size: 1.5rem;
  }

  .home-right .p3 {
    font-size: 1.1rem;
    text-align: justify;
  }

  .svg-container {
    height: 80%;
    width: 90%;
  }
}

@media screen and (max-width: 613px) {
  .home-left {
    margin-top: 0;
    height: 45%;
  }
  .home-right {
    height: 55%;
  }
}

@media screen and (max-width: 425px) {

  .home-left, .home-right {
      flex-direction: row;
      width: 100%;
      height: 50%;
  }

  .home-right .p1 {
      line-height: 1;
      font-size: 1.5rem;
  }

  .home-right .p1 b{
      font-size: 2.5rem;
  }

  .home-right .p2 {
      font-weight: bolder;
      font-size: 1.35rem;
  }

  .home-right .p3 {
      margin-top: 5%;
      font-size: 1rem;
      text-align: justify;
  }
  .svg-container {
      width: 100%;
  }
 
}

/*****************ABOUT*****************/

#about {
  padding: 8vh 0;
}

/* .about-content {
  width: 70%;
  height: 82vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow-y: hidden;
} */

.content-about {
  height: 85vh;
  width: 50%;
  border-radius: 1.5rem;
  background: rgba(109,125,153,0.45);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.aboutSwiper {
  width: 100%;
  height: 100%;
}

.aboutSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.aboutSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutSwiper .swiper-pagination {
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  height: 3rem;
  width: 100%;
  background-color: var(--text-dark);
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}

.aboutSwiper .swiper-pagination-bullet {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 30%;
  height: 3rem;
  border-radius: 0;
  text-align: center;
  line-height: 1rem;
  font-size: 1.2rem;
  color: var(--background-dark);
  background-color: transparent;
  opacity: 1;
}

.aboutSwiper .swiper-pagination-bullet-active {
  color: var(--cta-color);
}

.mobile-hide.swiper-pagination-bullet {
  display: flex;
}

.mobile-show.swiper-pagination-bullet, .mobile-pagination-show.swiper-pagination {
  display: none;
}

/* .about-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: var(--text-dark);
  width: 70%;
}

.nav-btn {
  padding: 1rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--primary-dark);
  font-size: 1rem;
  text-transform: uppercase;
  display: none;
} */

.about-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: rgba(109,125,153,0.45);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  width: 70%;
  height: 80%;
  overflow-x: hidden;
}

/* https://codepen.io/Web_Cifar/pen/jObBvqN */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  font-size: 1rem;
  color: var(--text-dark);
  width: 80%;
  height: auto;
  overflow: auto;
  margin: 3rem 10%;
}

#aboutMe h2 {
  width: 90%;
  margin: 2.5%;
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 3.8rem;
  color: var(--cta-color);
}

#aboutMe .image-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: var(--text-dark);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 2.5%;
  gap: 1rem;
  height: 90%;
  width: 40%;
}

#aboutMe .image-container img {
  width: 80%;
}
  
#aboutMe p {
  position: relative;
  width: 90%;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: justify;
}

#eduBackground .timeline-title h1 {
  line-height: 3.5rem;
}

#experience .timeline-title h1 {
  line-height: 4.5rem;;
}

#eduBackground .timeline-title h1, #experience .timeline-title h1 {
  color: var(--cta-color);
  font-size: 4rem;
  text-align: center;
  margin-top: 2.1%;
  text-transform: uppercase;
}

.container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 50rem;
  margin: 0 auto;
  position: relative;
  border-top: 2px solid var(--text-dark);
  border-bottom: 2px solid var(--text-dark);
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  color: var(--text-dark);
  border: 2px solid var(--text-dark);
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul:first-child {
  margin-top: 3.125rem;
}

.timeline-content h1 {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2rem;
  color: var(--cta-color);
}
.timeline-content p {
  font-size: 1rem;
  font-weight: 200;
  text-align: start;
}

.timeline-content .school {
  font-size: 1rem;
  font-weight: 700;
}
.timeline-content .date {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 1rem;
}
.skills .skills-card {
  width: 80%;
  padding: 1rem 0;
  background-color: var(--primary-dark);
  border-radius: 1rem;
}

.skills .skills-card h1 {
  text-align: center;
  color: var(--cta-color);
}

.skills .skills-card .skills-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: .5rem;
  width: 100%;
}

.skills .skills-card img {
  width: 3.5rem;
  height: 3.5rem;
  transition: all .3s ease-in-out;
}

.skills .skills-card img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 2px var(--cta-color));
}

@media screen and (min-width: 1440px) {    

  .content-about {
    width: 60%;
  }

  .container {
    width: 95%;
}

  #aboutMe h2, #eduBackground .timeline-title h1, #experience .timeline-title h1 {
    font-size: 4rem;
    margin-top: 2rem;
    line-height: 4rem;
  }

  .timeline ul:first-child {
    margin-top: 5rem;
  }
  
  .timeline-content h1 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .timeline-content .date {
    font-size: .8rem;
    margin-bottom: .1rem;
  }

  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: var(--text-dark);
  }
  
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 3.125rem;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-4.5rem);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(4.5rem);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--cta-color);
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }

}

@media screen and (max-width: 1440px) {
  #aboutMe h2, #eduBackground .timeline-title h1, #experience .timeline-title h1 {
    font-size: 3.5rem;
    margin-top: 2rem;
    line-height: 4rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1440px) {

  .content-about {
    width: 70%;
  }
  
  .timeline ul:first-child {
    margin-top: 5rem;
  }
  
  .timeline-content h1 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .timeline-content .date {
    font-size: .8rem;
    margin-bottom: .1rem;
  }

  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: var(--text-dark);
  }
  
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 3.125rem;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-4.5rem);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(4.5rem);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--cta-color);
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
}

@media  screen and (max-width:1024px) {
  .content-about {
    width: 85%;
  }
     
  #aboutMe h2 {
    font-size: 3rem;
  }

  #eduBackground .timeline-title h1, #experience .timeline-title h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  #aboutMe h2, #eduBackground .timeline-title h1 {
    margin-top: 3%;
  }

  #experience .timeline-title h1 {
    margin-top: 6%;
  }
  
  #aboutMe p {
    font-size: 1.3rem;
  }

  .container {
    padding: 1rem 0;
  }

  .timeline {
    width: 90%;
  }
    
  .timeline ul:first-child {
    margin-top: 5rem;
  }
  
  .timeline-content h1 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .timeline-content .date {
    font-size: .8rem;
    margin-bottom: .1rem;
  }
}

@media screen and (max-width: 768px) {

  .content-about {
    width: 90%;
  }

  .mobile-hide.swiper-pagination-bullet, .mobile-pagination-hide.swiper-pagination {
    display: none;
  }
  
  .mobile-show.swiper-pagination-bullet, .mobile-pagination-show.swiper-pagination {
    display: flex;
  }
    
  #aboutMe .image-container {
    display: none;
  }

  #aboutMe h2 {
    margin: 5%;
    font-size: 3rem;
  }

  #eduBackground .timeline-title h1, #experience .timeline-title h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
    
  .timeline {
    width: 100%;
  }
    
  .timeline ul:first-child {
    margin-top: 1.5rem;
  }
  
  .timeline-content h1 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .timeline-content .date {
    font-size: .8rem;
    margin-bottom: .1rem;
  }

  .skills .skills-card {
    width: 100%;
}
}

@media screen and (max-width: 425px) {

  .content-about {
    width: 90%;
  }
   
  #aboutMe h2 {
    margin: 5%;
    font-size: 3rem;
  }
    
  #aboutMe p {
    font-size: 1rem;
  }
  
  #eduBackground .timeline-title h1, #experience .timeline-title h1 {
    font-size: 2rem;
    margin-top: 5%;
    line-height: 2rem;
  }

}

@media screen and (max-width: 320px) {
  #aboutMe h2, #eduBackground .timeline-title h1, #experience .timeline-title h1 {
    font-size: 1.5rem;
  }
}


/*****************PROJECTS*****************/

.projects-content {
  position: relative;
  top: -5%;
  width: 90%;
  height: 90%;
}

.cards-tooltip {
  display: none;
  position: absolute;
  top: 4%;
  text-align: center;
  padding: 1rem;
  border: 1px solid var(--text-dark);
  width: 30%;
  margin: 0 30%;
}

.cards-tooltip {
  font-size: .8rem;
}

.projects-content .swiper {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.projects-content .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
color: var(--cta-color);
}

.swiper-button-prev {
color: var(--cta-color);
}

.projects-content .swiper-pagination-bullet {
background-color: var(--cta-color);
}

.empty-card {
background-color: var(--neutral-color);
position: relative;
border-radius: 5%;
top: 0;
left: 0;
backface-visibility: hidden;
box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
height: 100%;
backface-visibility: hidden;
background-position: center center;
display: flex;
align-content: center;
justify-content: center;
}

.empty-card .front-content {
display: flex;
align-content: center;
justify-content: center;
}

.empty-card .front-content svg {
width: 50%;
}

.wrapper, .empty-wrapper {
height: 65%;
width: 90%;
}

.single-card {
height: 100%;
text-align: center;
transition: all 1.5s cubic-bezier(0.7, -.5, 0.3, 1.8);
transform-style: preserve-3d;
}

.wrapper {
perspective: 56.25rem;
}

.wrapper:hover .single-card{
transform: rotateY(180deg);
}

.front-card, .back-card {
position: relative;
border-radius: 5%;
top: 0;
left: 0;
backface-visibility: hidden;
box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
}
.front-card {
cursor: pointer;
height: 100%;
backface-visibility: hidden;
background-position: center center;
}

.front-card .front-content, .back-card .back-content {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
height: 100%;
}

.front-card .front-content img {
width: 50%;
}

.back-card {
transform: rotateY(180deg);
position: absolute;
height: 100%;
}

.back-card .back-content {
height: 90%;
padding: 5%;
}

.back-card .back-content .top {
position: absolute;
width: 90%;
height: 17.5%;
overflow: hidden;
border-top-right-radius: 1rem;
border-top-left-radius: 1rem;
}

.back-card .back-content .top img {
width: 100%;
}

.back-card .back-content .content {
margin-top: 15%;
height: 70%;
}

.back-card .back-content .content p {
font-size: 1.25rem;
text-align: justify;
}
.back-card .back-content .button-container {
position: absolute;
bottom: 4%;
display: flex;
flex-wrap: wrap;
align-content: center;
justify-content: center;
}

.back-card .back-content .button-container .card-button {
padding: 10px 20px;
border-radius: .5rem;
cursor: pointer;
transition: transform 0.3s ease-in-out;
}

.back-card .back-content .card-button a {
text-decoration: none;
color: var(--text-dark);
}

.back-card .back-content .card-button:hover {
transform: scale(1.03);
box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.2);
}

/***********PROJECT SPECIFICS*************/

.proj1.front-card, .proj1.back-card {
background-color: #537C84;
}
.proj1.card-button {
background-color: #3bada8;
}

.proj2.front-card, .proj2.back-card {
background-color: var(--text-dark);
color: var(--background-dark);
}
.proj2.card-button {
background-color: #fe0037;
color: var(--text-dark);
}

.proj2.front-content img {
width: 70%;
}

/*****************CONTACT*****************/

/* https://www.youtube.com/watch?v=BMphVl9suxA */

.contacts-content {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
width: 100%;
height: 100%;
}

.form-container {
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-content: center;
justify-content: center;
width: 50%;
height: 50%;
background: var(--background-dark);
border-radius: 1rem;
}
.contact-container, .contact-image-container {
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-content: center;
justify-content: center;
gap: 1rem;
height: 100%;
width: 50%;
}
.contact-image-container img {
width: 90%;
}

.inputBox {
position: relative;
width: 70%;
}

.inputBox textarea {
height: 80%;
resize: none;
}

.inputBox input, textarea {
height: 1.5rem;
width: 100%;
padding: .5rem;
border: 1px solid var(--text-dark);
color:  var(--text-dark);
background: transparent;
border-radius: 1rem;
outline: none;
font-size: 1rem;
transition: all 0.5s ease-in-out;
}

.inputBox .input-span {
position: absolute;
top: 0;        
padding: .5rem 0 0 1rem;
pointer-events: none;
color:  var(--text-dark);
text-transform: uppercase;
transition: .2s;
}

.inputBox input:valid ~ .input-span,
.inputBox input:focus ~ .input-span,
.inputBox textarea:valid ~ .input-span,
.inputBox textarea:focus ~ .input-span {
color:  var(--neon-color);
transform: translateX(10px) translateY(-7px);
font-size: 0.75rem;
padding: 0 10px;
background: var(--background-dark);
border-left: 1px solid var(--neon-color);
border-right: 1px solid var(--neon-color);
letter-spacing: .1rem;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox textarea:valid,
.inputBox textarea:focus {
border: 1px solid var(--neon-color);
}

.invalidEmail {
position: absolute;
top: 0;
transform: translateX(10px) translateY(-7px);
font-size: 0.75rem;
padding: 0 10px;
text-transform: uppercase;
background: var(--secondary-dark);
color: var(--text-dark);
border-left: 1px solid var(--secondary-dark);
border-right: 1px solid var(--secondary-dark);
letter-spacing: .1rem;
transition: .5s all;
}

.contact-button {
display: flex;
align-self: center;
height: 7%;
width: 30%;
}

.contact-button button {
background-color: var(--neutral-color);
color: var(--text-dark);
width: 100%;
border: none;
border-radius: .5rem;
transition: all 0.3s ease;
}

.contact-button .send-mail-btn {
background-color: var(--neon-color);
color: var(--text-dark);
width: 100%;
border: none;
border-radius: .5rem;
cursor: pointer;
transition: all 0.3s ease;
}

.contact-button .send-mail-btn:hover {
background-color: #00dfc4;
color: var(--text-dark);
transform: scale(1.1);
transition: all .1s;
box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.back-to-top {
  position: absolute;
  bottom: 3.5%;
  right: 8%;
}

.back-to-top button {
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: var(--neutral-color);
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  border: none;
  transition: 0.5s;
}

.back-to-top button:hover {
  background-color: var(--cta-color);
  transform: scale(1.1);
}

.back-to-top button:active {
  background-color: #e7b842;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35%;
  margin-bottom: 60%;
  border-bottom: 15px solid white;
}


@media screen and (max-width: 1440px) {
.form-container {
  width: 80%;
}
}

.back-to-top {
  bottom: 4%;
  right: 10%;
}

@media  screen and (max-width: 1320px) {
  .back-to-top {
    bottom: 4%;
    right: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .back-to-top {
    bottom: 4%;
  }
}

@media screen and (max-width: 768px) {

.form-container {
  width: 70%;
}

.contact-image-container {
  display: none;
}

.contact-container {
  width: 80%;
}

.inputBox {
  position: relative;
  width: 93%;
  margin-right: 4%;
}

.inputBox textarea {
  height: 80%;
}

.contact-button {
  height: 7%;
  width: 50%;
}

.back-to-top {
  bottom: 4%;
  right: 10%;
}
.back-to-top {
  bottom: 6%;
  right: 10%;
}
}

@media screen and (max-width: 471px) {
  .cards-tooltip {
    width: 90%;
    margin: 0;
  }  
}

@media  screen and (max-width: 425px) {

.form-container {
  width: 100%;
}  

.inputBox input, textarea {
  font-size: .8rem;
}

.inputBox .input-span {   
  padding: .75rem 0 0 1rem;
  font-size: .8rem;
}

.inputBox input:valid ~ .input-span,
.inputBox input:focus ~ .input-span,
.inputBox textarea:valid ~ .input-span,
.inputBox textarea:focus ~ .input-span {
  font-size: 0.6rem;
}

.invalidEmail {
  font-size: 0.6rem;
}

#span_email svg {
  font-size: 0.6rem;
}

.contact-button button {
  font-size: .8rem;
}

.back-to-top {
  bottom: 6%;
  right: 10%;
}
}

@media  screen and (max-width: 320px) {

.form-container {
  width: 100%;
}

.back-to-top {
  bottom: 6%;
  right: 10%;
}
}
